.select{
    display:flex;
    flex-direction: row;
gap:7px;
font-family: Public Sans;
margin-top :10px;

}
.selectedDiv {
    border-radius: 3px;
    padding:2px 24px 2px 24px;
    background-color: #7367F0;
    color: white;
    display:flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    box-shadow: 0px 5px 8px 0px #00000040;

    
}

.UnselectedDiv {
    border-radius: 3px;
    padding:2px 24px 2px 24px;
    color:#6D6976;
    display:flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    
}

.select div h1{
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
}