 
 
.summarybox{
  margin-top:11px;
height: 1017px;
 border: 0.7px solid #C9C9C9;
border-radius: 3px;
background: #FFFFFF;
box-shadow: 0px 5px 5px 0px #0000001A;
}
.headingsum{
padding: 15px;
color: #C9C9C9;
border-bottom: 0.7px solid #C9C9C9
}
.headingsum>p{
  font-family: Public Sans;
font-size: 14px;
font-weight: 600;
margin:0;
line-height: 16px;
color: #7367F0;

}
.mainbox{
  display: flex;
}
.boxessum{
  width: 525px;
height: 48px;
display: flex;
justify-content: space-between;
align-items: center;
border-radius: 3px;
background: linear-gradient(180deg, #7367F0 0%, rgba(115, 103, 240, 0.74) 100%),
linear-gradient(0deg, #C9C9C9, #C9C9C9);
border: 0.7px solid #C9C9C9;
box-shadow: 0px 5px 5px 0px #0000001A;
margin:20px 0 0 12px;
}
.boxessum>div>p{
  font-family: Public Sans;
font-size: 12px;
font-weight: 500;
line-height: 14px;
color: #FFFFFF;

}
 
.box {
  flex: 1;
  text-align: center;
  padding: 5px; /* Adjust as needed */
  margin: 0px; /* Adjust as needed */
  border-right: 0.7px solid #c9c9c9; /* Add borders as needed */
}
.box>p>span:first-child{
  font-size:16px;
  margin-right: 9px;
}
.secondbox{
  width: 208px;
height: 48px;
display: flex;
justify-content: center;
align-items: center;
margin-top:20px;
margin-left:25px;
 background: linear-gradient(180deg, #2BD35A 0%, rgba(43, 211, 90, 0.79) 100%);
box-shadow: 0px 5px 8px 0px #0000001A;
border-radius: 3px;
font-family: Public Sans;
font-weight: 500;
line-height: 19px;
text-align: left;
}
 
.secondbox>span:first-child{
   color: #FFFFFF;
font-size: 16px;
}
.secondbox>span:last-child{
  color:#000000;
font-size: 12px;
margin-left:10px;
}
.headsum{
  margin-top:20px;
  margin-left:12px;
  font-family: Public Sans;
font-size: 16px;
display: flex;
align-items: center;
font-weight: 600;
line-height: 19px;
text-align: left;
color: #6D6976;

}
.box1{
  width: 400px;
height: 120px;
 border: Mixed solid #C9C9C9;

}
.boxesflex1{
  display: flex;
  /* gap:18px; */
}
.task{
width: 374px;
height: 120px;
margin-top:20px;
margin-left:12px;
border-radius: 3px;
border: 0.7px solid #C9C9C9
}
.mainhead{
  display: flex;
  align-items: center;
}
 .hashimg{
  width: 36px;
height: 36px;
margin-top:10px;
margin-left:10px;
border-radius:25px;
background: #EAE8FD;
box-shadow: 0px 5px 8px 0px #0000001A;
 }
 .tasktitle{
  font-family: Public Sans;
font-size: 14px;
font-weight: 500;
margin-top: 10px;
margin-left: 10px;
line-height: 16px;
color: #7367F0;
 }
 .hashimg>.hashsym{
  margin-left:10px;
  margin-top:10px;
 }
 .hashimg>.dollar{
  margin-left:8px;
  margin-top:8px;
 }
 .hashimg>.airplane{
  margin-left:7px;
  margin-top:7px;
 }
 .hashimg>.documents{
  margin-left:9px;
  margin-top:9px;
 }
 .hashimg>.desktop{
  margin-left:8px;
  margin-top:8px;
 }
 .hashimg>.users{
  margin-left:8px;
  margin-top:8px;
 }
 .hashimg>.onboarding{
  margin-left:9px;
  margin-top:8px;
 }
  .hashimg>.expensetravel{
  margin-left:8px;
  margin-top:8px;
 }
  .hashimg>.usertime{
  margin-left:8px;
  margin-top:8px;
 }
 .taskdata{
  display: flex;
 }
 .taskdata>p{
  margin:0px;
 }
 .taskcompletion{
  font-family: Public Sans;
font-size: 12px;
font-weight: 500;
margin-left:10px;
line-height: 14px;
color: #6D6976;
 }
 .taskcompletiondate{
  font-family: Public Sans;
font-size: 10px;
font-weight: 500;
margin-left:30px;
line-height: 12px;
color: #6D6976;
 }
 .taskdelay{
  font-family: Public Sans;
font-size: 8px;
font-weight: 500;
margin-left: 10px;
line-height: 9px;
color: #EF4932;

 }
 .assignowner{
font-family: Public Sans;
font-size: 12px;
font-weight: 500;
line-height: 14px;
color: #6D6976;
margin-left:50px;
 }
 .dateandtime{
font-family: Public Sans;
font-size: 10px;
font-weight: 500;
line-height: 12px;
color: #6D6976;
display: flex;
align-items: center;
margin-left:16px;
 }
 .greenbar{
  margin-left:53px;
 }
 .thunder{
  margin-left:70px;
 }
 .admsummary{
  display: flex;
 }
 .pendingdata{
  /* width: 294px; */
height: 967px;
margin-left:7px;
 color: #C9C9C9;
border-left: 0.7px solid #C9C9C9
 

 }
 .pending1{
  margin-top:20px;
  margin-left:6px;
 }
  .pending2{
  margin-top:15px;
  margin-left:6px;
 }
  .pending3{
  margin-top:10px;
  margin-left:5px;
 }
 .pending1>span:first-child{
  font-family: Public Sans;
font-size: 14px;
font-weight: 500;
line-height: 16px;
color: #6D6976;

 }
 .pending1>span:last-child{
  font-family: Public Sans;
font-size: 10px;
font-weight: 500;
margin-left:5px;
line-height: 12px;
color: #000000;

 }
 .pending2>span:first-child{
  font-family: Public Sans;
font-size: 12px;
font-weight: 500;
line-height: 14px;
 color: #7367F0;
 }
 .pending2>span:last-child{
  font-family: Public Sans;
font-size: 10px;
font-weight: 500;
margin-left:6px;
line-height: 12px;
color: #6D6976;

 }
 .pending3>span:first-child{
  font-family: Public Sans;
font-size: 12px;
font-weight: 500;
line-height: 14px;
color: #6D6976;

 }
 .pending3>span:last-child{
  font-family: Public Sans;
font-size: 8px;
font-weight: 500;
line-height: 9px;
color: #EE8787;
margin-left:42%;

 }
 
 
