.main-me-container {
  font-family: var(--font-public-sans);
}
.me-section,
.main-leave-section-container {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.05);
  padding: 0px 15px;
  margin-top: 10px;
  display: flex;
}
.main-leave-section-container {
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
}

.me-page p {
  margin-top: 11px;
  color: #6d6976;
  font-family: var(--font-public-sans);
  font-size: var(--mainHeading);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 10px;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.selecional-ooption:hover {
  background-color: rgba(47, 43, 61, 0.119);
  color: #6d6976;
}
.selecional-ooption.active-option {
  background-color: #7367f0;
  color: #ffffff !important;
}
