.container1{
    display: flex;
  background-color: #fff;
  width: 600px;
  height: 900px;
  gap:10px;
  overflow: hidden;
  overflow-x: hidden;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.relation-button{
    color: #7367F0;
    background-color: white  !important;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 5px;
margin-top: 15px;
border: none;
}



.btn-container-10{
  display: flex;
  justify-content: flex-end;
  margin-top: 160px;
}

.btn-color-5{
  border-radius: 4.063px;
  border: 1.167px solid #7367f0;
  padding: 10px 15px;
  color: #7367f0;
  margin-right: 30px;
}


.btn-color-6{
  border-radius: 4.063px;
  background: #7367f0;
  color: white;
  padding: 10px 15px;
  border: none;
}