.otpscreen{
width: 632px;
height: 295px;
margin-top: 8%;
margin-left:27%;
}
.otpdata>p:first-child{
    font-family: Public Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    color: #6D6976;
    
}
.otpdata>p:last-child{
    font-family: Public Sans;
font-size: 16px;
font-weight: 500;
line-height: 19px;
text-align: center;
color: #6D6976;

}
.validate{
    width: 161px;
/* height: 51px; */
margin-top: 55px;
margin-left: 235px;
padding: 1px 16px 1px 16px;
border-radius: 4px;
gap: 10px;
background: #7367F0;
cursor: pointer;
}
.validate>p{
    font-family: Public Sans;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;

}

/* .input-otp{
    width: '30px';
    height: '30px';
    border-bottom: '1px solid gray';
    border-left: 'none';
     border-top: 'none';
      border-right: 'none';
       outline: 'none';
       text-align:'center';
       margin-right:'25px' ;

} */
.resendotp{
    font-family: Public Sans;
font-size: 16px;
font-weight: 700;
line-height: 19px;
margin-top: 34px;
margin-left: 35px;
text-align: center;
color: #6D6976;
}
  